.btn {
    background-color: #243665 !important;
    border-radius: 7px !important;
    padding: 8px 10px !important;
    margin: 7px !important;
    color:#FFFFFF !important;
    border:3px solid #22B175 !important;
}
